# ignore these file and folders:
/node_modules
/public/js/lib
/public/js/app/main.js
/public/css/main.css
/public/css/main.min.css
/app/templates/alltemplate.js
*.pyc
*~
*.swp
*.swo
*.geany
*.log
*.jpg
*.png
*.jpeg
*.JPEG
error.log
