<div>
	<h2>Welcome Users and Developers</h2>
	<h3>Current Topics</h3>
	<div ng-if="isLoading" class='progress-bar-wrapper'>
		<div class='progress-bar'>Loading...</div>
	</div>

	<!--
	<input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends"/>
	<div><button ng-click="">Click</button></div>
	<div><button ng-click="">Click</button></div>
		-->
	<div>
		<!--
	<div class='animate-repeat' ng-repeat="project in items | filter:q as results"> 
		<h4><% project.title %></h4>
	</div>
	-->
	
	<!--<div class='animate-repeat' ng-repeat="project in info.projects"> -->
	<div class='animate-repeat' ng-repeat="project in info.projects | filter:q as results"> 
	    <div>
		<h4><% project.title %></h4>

		<p><span style='color:#555;font-weight:bold;'>Writer:</span>
		<span style='color:teal'><% project.writer %></span></p>
	<p style='padding:5px;background-color:#555;'>
			<span style='color:#eee;font-weight:bold;'>Date Stated:</span> 
		<span style='color:cyan'><% project.started %></span>
		<span style='color:#eee;font-weight:bold;'>&nbsp; &nbsp;&nbsp;&nbsp;Date Finished:</span> 
		<span style='color:cyan'><% project.finished %></span></p>
	<p><span style='color:#555;font-weight:bold;'>Current Status: </span>
		<span ng-if='project.status==="pending"' style='color:red'>Incomplete</span>
		<span  ng-if='project.status==="done"' style='color:green'>Complete</span>
		
		<p>
		<p><span style='color:#555;font-weight:bold;'>
				Comments: </span><span style='color:#556;'><% project.info %></span></p>
	    </div>
	
	</div>

	</div>
</div>
	
