<div>
	<h2> Contact Us</h2>

	<div>
		<form novalidate class="css-form">
			Name: <input type="text" ng-model="user.name" required /><br />
			E-mail: <input type="email" ng-model="user.email" required /><br />
			<input type='password'></input>
			Gender: <input type="radio" ng-model="user.gender" value="male" />male
			<input type="radio" ng-model="user.gender" value="female" />female<br />
			<textarea name='ta' ng-model='user.message'></textarea>
			<input type="button" ng-click="reset()" value="Reset" />
			<input type="submit" ng-click="update(user)" value="Save" />
			
		</form>
	</div>
	
</div>
