<div>
	<h2> Contact Us</h2>



<form novalidate >
    <div class="form-group">
	    <label for="nameUser">Name</label>
	    <input type="text" class="form-control" id="nameUser" ng-model="user.name" placeholder="name">
   </div>

    <div class="form-group">
	    <label for="email">Email</label>
	    <input type="email" class="form-control" id="email" ng-model="user.email"  placeholder="Email">
   </div>
    <div class="form-group">
	    <label for="city">City</label>
	    <input type="text" class="form-control" id="city" ng-model="user.city" placeholder="City">
   </div>
    <div class="form-group">
	    <label for="state">State</label>
	    <input type="text" class="form-control" id="state"  ng-model="user.state" placeholder="State">
   </div>
   <!-- country row -->
   <div class='form-group'>   
	   <label for="country" class='control-label'>Country 
		   <span style="font-weight:normal;color:#999;" ng-show='isCountriesLoading'>(Loading...)</span>
	   </label>
           <select class="form-control" ng-model="user.country" ng-options="t.name for t in countries">
		   <!-- <option value="">(blank)</option> -->
           </select>
	   
   </div><!-- country control group -->


    <div class="form-group">
	    <label for="message">Message</label>
	    <textarea  ng-model="user.message" class="form-control width-no-change" id="message"></textarea>
   </div>

<div>
	<!--	<pre><% user | json %></pre> -->
	</div>

   <!--
   <div class="form-group">
	   <label for="exampleInputPassword1">Password</label>
	   <input type="password" class="form-control" id="exampleInputPassword1"
			   placeholder="Password">
   </div>
   <div class="form-group">
	   <label for="exampleInputFile">File input</label>
	   <input type="file" id="exampleInputFile">
		   Example block-level help text here.
   </div>
   <div class="checkbox">
	   <label><input type="checkbox"> Check me out</label>
   </div>
   -->
   <input type=email style="display:none;" name="email"></input>
   <input type="button" ng-click="reset()" value="Reset" />
   <button type="submit"  ng-click="send(user)" class="btn btn-default">Send</button>
</form>

</div>
