<button class="menu-toggle menu-toggle--rot" ng-click="toggle()"
	ng-class='{"is-active":menuDisplay===false}'>
	  <span>toggle menu</span>
  </button>
<div ng-class='{"mobile-menu-display":menuDisplay===true,"mobile-menu-nodisplay":menuDisplay===false}' >
<nav2>
	<navitem2 label="Services ours" page="#/services"></navitem2>
	<navitem2 label="About us" page="#"></navitem2>
	<navitem2 label="Contact Us" page="#"></navitem2>
	<navitem2 label="Help" page="#"></navitem2>
	<navitem2 label="Training" page="#"></navitem2>
	<navitem2 label="Projects" page="#/projects"></navitem2>
</nav2>
</div>

