<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" ng-click='toggle()' class="navbar-toggle collapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#">TaPatch</a>
		</div><!-- nav bar header -->
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-hide-animate" ng-hide="isCollapse">
			<div>
			<ul class="nav navbar-nav">
				<li ng-repeat="item in items" ng-class="{active:item.selected}">
					<a href="<% item.page %>" ng-click="select(item)"><% item.label %></a>
				</li>
			</ul>
			</div>
			<div ng-transclude></div>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->


</nav>

