<div>
	
<h2><% message %></h2>
<div>
	<img class='img-desktop' src='images/coffee-cup-01.jpg' alt='Start your day with a cup of coffee!'></img>
	<p>This is my suggestion to our visitors that first take a sip of sweet coffee and then let's talk rest 
		of the things.</p>
	<div>	
		<div class='sprite-icons-coffee-cup-01'></div><span> Have something</span> </div>
	<div> <div class='sprite-icons-coffee-cup-02'></div><span> Have this</span> </div>
	<div>
		<div ng-repeat='service in services'><% service.heading %></div>
		
	
	</div>
	</div>


</div>
